<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="linq2db" version="3.0.0-preview.2" targetFramework="net472" />
  <package id="linq2db.Oracle.Managed" version="3.0.0-preview.2" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="19.6.0" targetFramework="net472" />
</packages>